* {
  font-family: 'Rubik', monospace;
  box-sizing: border-box;
  user-select: none;
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #151922;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: top left;
  background-repeat: repeat;
  overflow: scroll;
}

#root{
  position: relative;
  height: inherit;
}
