* {
  font-family: 'Rubik', monospace;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  /* background-color: #1B1B1C; */
  background-color: #151922;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./assets/images/intersect.svg); */
  background-position: top left;
  background-repeat: repeat;
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right, 1em)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left, 1em);
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

#root{
  position: relative;
  height: inherit;
}
